.jumbotron{
    background-color: rgb(1, 1, 80);
    color: black;
    text-align: center;
    margin-top: 50px;
}

.footer{
    padding: 10px 10px 0px 10px;
    color: white;
    background-color: rgb(1, 8, 29);
    margin-bottom: 0px;
    margin: 15px;
}
.col-sm-3{
    margin: 15px;
    text-align: center;
}

.h1{
    font-family: 'Blackout Sunrise';
}
.display-4{
    font-family: 'Blackout Sunrise';
}
.lead{
    font-family: 'Blackout Sunrise';
    color: rgb(1, 0, 54);
}

.footer-address-icon{
    padding-right: 10px;
}

.card-cars{
    flex: 1 200px;
    margin-top: 10px;
    text-align: center;
}

.btn-buy{
    width: 100%;
    border-radius: 0px;
}

.img-cars{
    display:block;
    margin:auto;
    width: 40%;
}

.tab-content{
    padding-top: 10px;
}

#carouselControls{
    margin-top: 15px;
}

.img-carousel{
    width: 200px;
    height: 500px;
}