.jumbotron {
  background-color: #00024a;
  color: black;
  text-align: center;
  margin-top: 50px; }

.footer {
  padding: 10px 10px 0px 10px;
  color: white;
  background-color: #000236;
  margin-top: 15px;
  margin-bottom: 0px; }

.card-cars {
  flex: 1 200px;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 0px; }

.col-sm-3 {
  margin: 15px;
  text-align: center; }

.h1 {
  font-family: 'Blackout Sunrise'; }

.display-4 {
  font-family: 'Blackout Sunrise'; }

.lead {
  font-family: 'Blackout Sunrise';
  color: #00024a; }

.footer-address-icon {
  padding-right: 10px; }

.btn-buy {
  width: 100%;
  border-radius: 0px; }

.img-cars {
  display: block;
  margin: auto;
  width: 40%; }

.tab-content {
  padding-top: 10px; }

#carouselControls {
  margin-top: 15px; }

.img-carousel {
  width: 200px;
  height: 500px; }
