$blues: #00024a;
$blueFooter: #000236;
$yellow: #e5f504;
$red: #f50404;
$green: #64f504;

@mixin margenes($top, $bottom){
    margin-top: $top;
    margin-bottom: $bottom; 
}

.jumbotron{
    background-color: $blues;
    color: black;
    text-align: center;
    margin-top: 50px;
}

.footer{
    padding: 10px 10px 0px 10px;
    color: white;
    background-color: $blueFooter;
    @include margenes(15px, 0px);
}

.card-cars{
    flex: 1 200px;
    text-align: center;
    @include margenes(10px, 0px);
}

.col-sm-3{
    margin: 15px;
    text-align: center;
}

.h1{
    font-family: 'Blackout Sunrise';
}
.display-4{
    font-family: 'Blackout Sunrise';
}
.lead{
    font-family: 'Blackout Sunrise';
    color: $blues;
}

.footer-address-icon{
    padding-right: 10px;
}

.btn-buy{
    width: 100%;
    border-radius: 0px;
}

.img-cars{
    display:block;
    margin:auto;
    width: 40%;
}

.tab-content{
    padding-top: 10px;
}

#carouselControls{
    margin-top: 15px;
}

.img-carousel{
    width: 200px;
    height: 500px;
}